<div class="form-area">
  <h1>Blog-Post</h1>
  <input type="text" placeholder="Blog-Title"[(ngModel)]="blogtitle">
  <br><br>
  <textarea cols="30" rows="10" placeholder="Blog-Details"[(ngModel)]="blogdetails"></textarea>
  <br><br>
  <input type="text" placeholder="Blog Image Url"[(ngModel)]="imageURL">
  <br><br>
  <input type="text" placeholder="Blog Url"[(ngModel)]="blogURL">
  <br><br>

</div>
<div class="preview-area">
  <h1>{{blogtitle}}</h1>
  <p>{{blogdetails}}</p>
  <h1><a [href]="blogURL">show Details</a></h1>
  <img [src]="imageURL" alt="">
   
     
  </div>
  
  
